body {
	font-family: 'Open Sans', sans-serif;
	display: flexbox;
	background: #d8d8d8;
}

h1,
h2,
h3 {
	font-family: 'Limelight', truetype;
}

h1 {
	font-size: 3em;
}

h2 {
	color: #1f7bc5;
}

hr {
	border-bottom: #d8d8d8 0.25em solid;
}

a {
	color: #d8d8d8;
	font-weight: bold;
}

#logo {
	height: 8em;
}

header h2 {
	color: #d8d8d8;
}

footer {
	background-image: linear-gradient(#cec8ff, white);
	padding: 20px 0;
}

.jumbotron {
	padding: 30px;
	background-image: linear-gradient(to right, #333465, #6e93e2, #000000);
	color: white;
}

.row-content {
	pad: 50px 0;
	border-bottom: 1px ridge;
	min-height: 200px;
}

.active {
	text-decoration: underline 0.2em;
}
