body {
    font-family: "Open Sans", sans-serif;
    display: flexbox;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #b0d5f3;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #004B87, #5caaeb, white);
    color: white;
}

.row-content {
    pad: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

