body {
    font-family: "Open Sans", sans-serif;
    display: flexbox;
    background: #d8d8d8;
}

h1, h2, h3 {
    font-family: "Limelight", truetype;
}

h1 {
    font-size: 3em;
}

#subHeading {
    font-size: 1.25em;
    margin-top: -.75em;
    margin-bottom: 1em;
}

hr {
    border-bottom: #d8d8d8 .25em solid;
}

a {
    color: #ffffff;
    font-weight: bold;
}

#logo {
    height: 8em;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #333465, #6e93e2, #000000);
    color: white;
}

.row-content {
    pad: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-toggler-icon {
    opacity: 100%;
}

.nav-link:hover {
    color: rgb(123, 234, 255);
}